.tf-header { 
    position: fixed;
    width: 100%;
    z-index: 9;
	.tf-header-top { 
        background: #595349;
        min-height: 50px;
	}
	.tf-header-main { 
        background: #30281C4D;
        backdrop-filter: blur(15px);
        min-height: 120px;
	}
}
