:root {
    --e-global-typography: 'Open Sans', sans-serif;
    --e-global-text-color: #000000;
    --e-global-pink: #e25164;
    --e-global-blue: #197aa3;
    --e-global-meta-color: #9C9C9C;  
}
body{
    font-family: var( --e-global-typography );
}
* {
    box-sizing: border-box;
}
/*========== Menu ============*/
#header .logo-section {
    background: #283949;
    height: auto;
}
#header .logo-section .inner-wrap {
	display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    height: 70px;
}
.logo-section .logo img {
    filter: brightness(0) invert(1);
}

#header .logo img {
	display: block;
}
.sec-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}
.sec-menu li a{
    display: block;
    color:#111;
    padding: 22px 15px;
    font-size: 17px;
    font-weight: 600;
    transition: all 0.2s ease;
}
.sec-menu li a:hover{
    background-color: #f5f5f5;
}

.logo-section .slicknav_menu .slicknav_icon-bar {
    height: 2px;
}
.logo-section .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0.188em;
    margin-top: 6px;
}
.slicknav_menu {
    font-size: 24px;
    border: none;
    position: relative;
}
.mobile_nav .slicknav_menu .slicknav_menutxt{
    display: none;
}
.mobile_nav .slicknav_nav {
    position: fixed;
    top: 60px;
    width:100vw;
    left: 0;
    right: 0;
    box-sizing: border-box;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.09);
}
.mobile_nav .slicknav_nav li a {
    padding: 17px 25px;
    font-size: 14px;
    letter-spacing: 0;
    font-family: inherit;
    font-weight:700;
    color: #333;
    text-align: right;
}
#mobile-nav-back-cover {
    display: none;
}
#mobile-nav-back-cover {
    position: fixed;
    display: none;
    height: 100vh;
    background: rgba(0,0,0,0.3);
    left: 0;
    width: 100vw;
    top: 0;
    z-index: 1;
}

@media only screen and (max-width: 992px) {
	.inner-wrap {
		padding: 0 15px;
        max-width: 100%;
	}
    #header {
        margin-bottom: 20px;
        width: 100%;
        padding-top: 60px;
    }
    #header .logo-section .inner-wrap {
        height: auto;
        text-align: center;
        border-bottom: solid 2px #283949;
        height: 60px;
        padding: 0 2px;
    }   
    #header .logo-section {
        background: #fff;
        position: relative;
        z-index: 100;
        height: 60px;
        position: fixed;
        width: 100vw;
        left: 0;
        right: 0;
        top: 0;
    }
    .logo-section .logo img {
        filter: none;
        height: auto;
        width: 56px;
    }
    .logo-section .logo a{
        display: block;
        padding: 0 10px;
        width: 80px;
    }
    .sec-menu {
        width: auto;
        overflow-x: scroll;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .sec-menu li a {
        white-space: nowrap;
    }
    .slicknav_menu {
        display: block; 
    }
    .slicknav_btn {
        width: auto;
    }
    .menu_open #mobile-nav-back-cover {
        display: block;
    }
}

@media only screen and (max-width: 576px) {
    #header .logo-section {
        height: auto;
    }         
    #header .logo {
        display: inline-block;
        margin: 10px 0;		
    }
    .sec-menu li a {
        padding: 18px 12px;
    }
}


/*============= Footer ===========*/
.footer-row{
    padding: 15px 0;
    display: flex;
}
.footer-row-info{
    border-top: solid 1px rgba(255,255,255,0.2);
}
#footer a {
	color: #ffffff;
	display: inline-block;
}

#footer a:hover {
	color: #FFFFFF;
}

.footer-nav {
    width:80%;
}

.footer-nav .footer-menu {
	list-style: none;
	padding: 0;
	margin: 0;
    display: flex;
}

.footer-menu > li {
    width: 25%;
    padding-right: 15px;
}
.footer-menu .sub-menu{
    padding:0;
    margin: 0;
    list-style-type: none;
}
.footer-menu li a,
.footer .menu li a {
	padding: 4px 0;
	display: block;
	font-size: 16px;
	color: #FFFFFF;
}
.footer-menu li a[title=col-title],  
.footer .footer-col-title,
.footer .widget-title h4{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    padding:0 0 4px;
    margin:0;
    margin-bottom: 5px;
    color: #ffffff;
    text-decoration: none !important;
}
.footer li a:hover {
	text-decoration: underline;
}
.footer .app-image {
    height: 34px;
    width: auto;
    margin: 4px 2px 0 0;
}
.footer-widget .widget:last-child{
    margin-bottom:5px;
}
.footer-widget-2 .widget_text img{
    height: 34px;
    width: auto;
    display: inline-block;
    margin: 4px 4px 0 0;
}
.footer .social-links a {
    display: block;
    background: #efefef;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    width: 36px;
    height: 36px;
}
.footer .social-links a:hover {
    background: #fff;

}
.footer .social-links a i {
	font-size: 18px;
}
.footer .social-links a.twitter i {
	color: #55acee;
}
.footer .social-links a.fb i {
	color: #3b5998;
}
.footer .social-links a.linkedin i {
	color: #0077b5;
}
.footer .social-links a.instagram i {
	color: #e95950;
}
.footer .social-links a.youtube i {
	color: #cd201f;
}

@media only screen and (max-width: 992px) {
    .footer-content .inner-wrap {
        padding: 0 20px;
    }
    .footer-content .footer-info .inner-wrap {
        padding: 0;
    }
}
@media only screen and (max-width: 768px) {
    .footer-row {
        display: block;
    }
    .footer-nav {
        width: 100%;
    }
    .footer-widget-2{
        display: flex;
        padding-top: 35px;
    }
    .footer-widget-2 .widget{
        padding-right: 10px;
    }
}

@media only screen and (max-width: 576px) {
    .footer-nav .footer-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: block;
    }
    .footer-menu > li {
        width: 100%;
        padding-right: 0;
        margin-bottom: 25px;
    }
    .footer-widget-2 {
        display: block;
        padding-top: 0;
    }
    .footer-row-info {
        margin: 10px 0 20px;
    }
    .gotop {
        bottom: 38px;
    }
}

/*========== Top Banner =======*/
.banner-post .post-carousel-categories {
    position: static;
    visibility: visible;
    opacity: 1;
    padding:0;
}
.banner-post .post-carousel-categories li a {
    color: inherit;
}
.banner-post .eael-grid-post-holder{
    position: relative;
    border: none;
}
.banner-post .eael-entry-media:hover .eael-entry-overlay.fade-in,
.banner-post .eael-grid-post-holder:hover .eael-entry-overlay.fade-in {
    visibility: visible;
    opacity: 0.9 !important;
}

.banner-post .eael-grid-post .eael-entry-wrapper{
    position: absolute;
    bottom:0;
    color: #fff;
    z-index: 5;
    padding: 10px 25px 25px;
    width: 100%;
    left: 0;
}
.banner-post .eael-entry-media{
    height: 465px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 465px;
    border-radius: 12px;
}
.banner-post .eael-entry-thumbnail {
    display: none;
}
.banner-post .eael-entry-overlay.fade-in {
    visibility: visible;
    opacity: 0.4;
}
.banner-post .eael-entry-overlay.fade-in i{
    visibility: hidden;
    opacity: 0 !important;
}
.banner-post .eael-entry-title a,
.banner-post .post-meta-categories li a,
.banner-post .eael-entry-meta > span,
.banner-post .eael-grid-post-excerpt p,
.useful-links .eael-entry-title a,
.elementor-widget-eael-post-grid .eael-entry-title, 
.elementor-widget-eael-post-grid .eael-entry-title a,
.elementor-widget-eael-post-grid .eael-grid-post-excerpt p{
    font-family: var( --e-global-typography ) !important;
}
.banner-post .elementor-widget-eael-post-grid .eael-entry-title a{
    color: #ffffff;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.3;
    margin: 0px 0px 10px 0px;
    text-shadow: 0 1px 15px rgba(0, 0, 0, 0.85);
}
.banner-post .elementor-widget-eael-post-grid .eael-entry-title a:hover{
    color: #eee;
}
.banner-post .elementor-widget-eael-post-grid .eael-grid-post-excerpt p{
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    margin: 0px 0px 15px 0px;
    text-shadow: 0 1px 10px rgba(0, 0, 0, 0.81);
}
.banner-post .eael-post-grid-style-two .eael-entry-meta .eael-meta-posted-on,
.banner-post .eael-post-grid-style-two .eael-entry-meta .post-meta-categories li a {
    font-size: 15px;
    color: #ffffff;
}
.banner-post .eael-entry-meta .post-meta-categories li.meta-cat-icon {
    display: none;
}
.banner-post .eael-post-grid-style-two .eael-entry-meta .post-meta-categories li a{
    border: solid 2px #fff;
    display: block;
    padding: 3px 14px;
    border-radius: 8px;
    text-transform: uppercase;
}
.banner-post .eael-post-grid-style-two .eael-entry-meta .post-meta-categories li a:hover{
    background-color: rgba(255,255,255,0.2);
}
.banner-post .eael-post-grid-style-two .eael-entry-meta .post-meta-categories {
    margin-right: 20px;
}

@media only screen and (max-width: 992px) {
    .banner-post .eael-entry-media {
        height: 420px;
    }
    .banner-post .elementor-widget-eael-post-grid .eael-entry-title a{
        font-size: 26px;
    }
    .banner-post .elementor-widget-eael-post-grid .eael-grid-post-excerpt p {
        font-size: 20px;
    }
}
@media only screen and (max-width: 576px) {
    .banner-post .eael-entry-media {
        height: 400px;
    }
    .banner-post .eael-post-grid-style-two .eael-entry-meta .post-meta-categories li a{
        border-width: 1px;
    }
    .banner-post .elementor-widget-eael-post-grid .eael-entry-title a{
        font-size: 22px;
    }
    .banner-post .elementor-widget-eael-post-grid .eael-grid-post-excerpt p {
        font-size: 17px;
    }
    .banner-post .eael-post-grid-style-two .eael-entry-meta .eael-meta-posted-on, 
    .banner-post .eael-post-grid-style-two .eael-entry-meta .post-meta-categories li a {
        font-size: 14px;
    }
    .banner-post .eael-post-grid-style-two .eael-entry-meta .post-meta-categories li a {
        padding: 2px 10px;
        border-radius: 6px;        
    }
    .banner-post .eael-grid-post .eael-entry-wrapper {
        padding: 10px 15px 20px;
    }
    .useful-links .eael-entry-title {
        font-size: 15px;
    }
}

/*============ General Styles ===============*/
.gen-title{
    height:50px;
    position: relative;
    line-height: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.gen-title:before{
    content: "";
    background-color: #ccc;
    height:1px;
    width:100%;
    display: block;
    position: absolute;
    left: 0;
    top:49%;
}
.gen-title span,
#sidebar .widget-title{
    background-color: var( --e-global-pink );
    display:inline-block;
    padding: 8px 20px;
    font-size: 19px;
    color: #fff !important;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700 !important;
    position: relative;
    border-radius: 8px;
    letter-spacing: 0.02em;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.24);
    line-height: 1;    
}
.gen-title.gen-title--white span{
    background-color: white !important;
    box-shadow: none !important;
    color: black !important;
}

input[type=text], textarea,
input[type=submit] {
    border-radius: 6px;
}
#comments .reply a {
    border-radius: 4px;
}

@media only screen and (max-width: 576px) {
    .gen-title span,
    #sidebar .widget-title{
        font-size: 18px;
    }
}






/*========== Useful Shortcuts ==========*/
.useful-links .eael-entry-title{
    margin: 0;
    font-size: 15px;
    text-align: center;
}
.useful-links .eael-entry-title a{
    font-weight: 600 !important;
    color: var( --e-global-typography );
}
.useful-links .eael-grid-post-holder {
    border-radius: 8px;
    border-color: #aaa;
    background-color: #fff6e3;
}
.useful-links .eael-grid-post .eael-entry-wrapper {
    padding: 8px 14px;
}

/*=========== Homepage Posts ============*/
.hp-posts .eael-grid-post-holder {
    border: none;
}
.hp-posts .eael-entry-thumbnail img {
    border-radius: 8px;
}
.hp-posts .eael-grid-post .eael-entry-wrapper {
    padding: 10px 2px 5px;
    min-height: 140px;
}
.hp-posts .eael-post-grid-container .eael-post-grid {
    margin: 0 -15px;
}
.hp-posts .eael-post-grid-container .eael-post-grid .eael-grid-post {
    padding: 10px 15px;
}
.hp-posts .eael-grid-post-excerpt p{
    display: block;
    white-space: pre-wrap;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.hp-posts .post-carousel-categories {
    position: static;
    visibility: visible;
    opacity: 1;
    padding: 0;
    width:auto;
}
.hp-posts .eael-entry-content{
    margin-bottom: 10px;    
}
.hp-posts .eael-entry-title {
    margin: 10px 0 12px;
    font-size: 17px;
    white-space: pre-wrap;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.hp-posts .eael-entry-meta-row{
    display: flex;
    align-items: center;
    color: var(--e-global-meta-color);
}
.hp-posts .post-carousel-categories li a,
.related-posts .thumb-post .entry-meta .entry-cats a,
.post-left-col .entry-header .entry-cats a,
.archive-list .entry-cats .cat a{
    border: solid 1px #ccc;
    display: block;
    padding: 3px 8px;
    border-radius: 6px;
    text-transform: uppercase;
    color: inherit;
    font-size: 12px;
}
.hp-posts .eael-entry-meta-row .views{
    font-size: 13px;
    padding-left: 5px;
}
.hp-posts .eael-entry-meta-row .views i{    
    font-size: 12px;
}
.hp-posts .post-carousel-categories li a:hover,
.hp-posts .post-carousel-categories li a:active,
.related-posts .thumb-post .entry-meta .entry-cats a:hover,
.post-left-col .entry-header .entry-cats a:hover{
    background-color: #eee;
}
.hp-posts .post-carousel-categories li a:hover,
.related-posts .thumb-post .entry-meta .entry-cats a:hover{
    color: var(--e-global-text-color);
}
.hp-posts .eael-grid-post .eael-entry-overlay {
    background-color: rgba(0,0,0, .15) !important;
    border-radius: 8px;
}



@media only screen and (max-width: 768px) {
    .hp-posts .eael-grid-post-holder {
        margin-bottom: 20px;
    }
    .hp-posts .eael-grid-post .eael-entry-wrapper {
        min-height: inherit;
    }
}

@media only screen and (max-width: 576px) {
    .hp-posts .eael-entry-title {
        font-size: 16px;
    }
    .hp-posts .post-carousel-categories li a {
        font-size: 13px;
        font-weight: 500;
    }
}



/*========== Sidebar ==========*/
/*----- search-----*/
#sidebar .search-form {
    display: flex;
}
#sidebar .widget .search-form input[type=text] {
	flex: 1 1 auto;
    border-radius: 6px 0 0 6px;
}
#sidebar .search-submit {
    width: 42px;
    height: 42px;
    border-radius: 0 6px 6px 0;
}
#sidebar .widget-title {
	overflow: hidden;
    display:block;
	margin-bottom: 20px;
}
#sidebar .widget-title h4 {
	color: #FFFFFF;
    font-weight: 700 !important;
    text-align: center; 
}
@media only screen and (max-width: 576px) {
    #sidebar {
        margin-top: 20px;
        width: 100%;
        margin-bottom: 40px;
    }
}


/*========== Single Post ============*/
.single-post .post-wrap{
    overflow: hidden;
}
.single-header-top{
    position: relative;
    margin-bottom:20px;
}
.single-entry-top-wrapper{
    padding: 25px 30px 40px;
    position: relative;
}
.single-entry-top-wrapper .single-entry-title{
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 1px 2px 15px rgba(0, 0, 0, 0.85);
    font-weight: 700;
    font-size: 34px;
    line-height: 1.3;
}
.single-entry-media{
    width:100%;
    background-color: #6f737a;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 465px;
    border-radius: 12px;
    overflow: hidden;
    display:flex;
    align-items: end;
    border-radius: 12px;
}
.single-entry-overlay{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #000;
    opacity: 0.4;
    border-radius: 12px;
}
.post-left-col .entry-header .entry-cats {
    overflow: hidden;
    margin-bottom: 0;
    float: none; 
    display: inline-block;
    vertical-align: middle;
    margin-right: 1px;		
}
.post-left-col .entry-header .entry-cats .cat {
    padding: 2px 8px 3px 0;
}
.post-left-col .entry-header .entry-meta .views {
    margin-left: 10px;
}
.post-left-col .entry-meta .entry-cats a {
    color: inherit;
}
.post-left-col .entry-meta,
.post-left-col .entry-meta a {
    color: var(--e-global-meta-color);
}
.post-left-col .entry-cats .cat{
    background: none;
}
.post-left-col .entry-meta a:hover,
.post-left-col .entry-meta .entry-cats a:hover {
    color: var(--e-global-text-color);
}


.single-post #content {
    width: 100%; 
    margin: 0;
    float:none;
}
.post-left-col{
    width: calc(100% - 340px);
    padding-right: 35px;
    float: left;
}
.post-right-col{
    width: 20%;
}



/*=== Related Posts ===*/
.related-posts .gen-title {
    margin-top: 40px;
}
.related-posts .thumb-post img{
    width:100%;
    border-radius: 8px;
}

@media only screen and (min-width: 769px) {
    .related-posts .section-wrap{
        display: flex;
        justify-content: space-between;
    }
    .related-posts .thumb-post {
        width: 31%;
    }    
}
.related-posts .thumb-post .entry-wrap {
    background: none;
    padding: 10px 1px;
    position: static;
    min-height: inherit;
    border-radius: 0;
}
.related-posts h4 {
    font-size: 16px;
    font-weight: 600;
    white-space: pre-wrap;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.related-posts .thumb-post .entry-wrap h4 a {
	color: var( --e-global-text-color );	
}
.related-posts .thumb-post .entry-wrap h4 a:hover{
    color: var( --e-global-blue );
}
.related-posts .thumb-post .entry-wrap p{
    color: inherit;
    display: block;
    margin: 10px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
}
.related-posts .thumb-post .entry-meta {
    display: block;
}
.related-posts .thumb-post .entry-meta .date{
    display: none;
}
.related-posts .thumb-post .entry-cats {
    position: static;
    left: 10px;
    top: 10px;
}
.related-posts .thumb-post .entry-meta {
    color: var(--e-global-meta-color);
}
.related-posts .entry-cats .cat {
    padding: 2px 8px 3px 0;
}
.related-posts .entry-meta .views {
    margin-left: 5px;
    margin-top: 6px;
    font-size: 13px;
    display: inline-block;
}
.related-posts .entry-meta i{
    color: var(--e-global-meta-color);
}
.see-all-link{
    right:0;
    position: absolute;
    top: 0px;
    line-height: 1.3;
    font-style: italic;
    font-size: 14px;
}
.see-all-link a{
    font-weight: 700;
    color: inherit;
}
.see-all-link a i{
    margin-left: 3px;
    color: var( --e-global-pink );;
}

@media only screen and (max-width: 768px) {
    .post-left-col {
        width: 100%;
        padding-right: 0;
    }
    .related-posts .gen-title {
        margin-top: 30px;
        height: auto;
    }
    .related-posts .gen-title:before {
        top: 25px;
    }
    .see-all-link {
        right: 0;
        position: static;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 576px) {
    .single-entry-media {
        height: 400px;
        border-radius: 10px;
    }
    .single-entry-top-wrapper .single-entry-title {
        font-size: 22px;
        line-height: 1.3;
    }
    .single-entry-top-wrapper {
        padding: 25px 15px 25px;
    }
}

/*========= Category Page ==========*/
.archive-list .wp-post-image {
    border-radius: 8px;
}
.archive-list .cat{
    background: none;
    padding: 0;
}
.archive-list .entry-cats .cat a{
    border-color: var(--e-global-pink);
    color: var(--e-global-pink);
}
.archive-list .entry-cats .cat a:hover{
    background-color: rgba(234,190,194,0.15);
}
.archive-list .excerpt-footer{
    display: block;
    margin-top: 15px;
}
.archive-list .more a {
    background: #283949;    
}
@media only screen and (min-width: 520px) {
    .archive-list .excerpt-footer{
        display: none;
    }
}

/*Lang switcher*/
.lang-switcher {
    border-radius: 26px;
    padding: 2px 4px;
    color: #3b3b3b;
    font-weight: 500;
    background: white;
    margin-left: 12px;
}
.lang-switcher:empty{
    display: none;
}
.lang-switcher .wpml-ls-legacy-list-horizontal{
    padding: 0;
}
.lang-switcher .wpml-ls-legacy-list-horizontal>ul{
    display: flex;
}
.lang-switcher .wpml-ls-legacy-list-horizontal a {
    border-radius: 20px;
    color: #3b3b3b;
    font-size: 12px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal !important;
}
.lang-switcher .wpml-ls-legacy-list-horizontal .wpml-ls-current-language a{
    background-color: #f14b6a;
    color: white;
}

@media only screen and (max-width: 992px) {
    .lang-switcher {
        margin: auto;
    }
}

.entry-header .entry-meta .author {
	margin-right: 15px;
}

.single-entry-media--v2 {background-image: none !IMPORTANT; height: auto;}

.single-entry-media--v2 img {
    width: 100%;
}

@media only screen and (min-width: 991px) {
    .single-entry-media--v2 img {
        height: 500px;
        object-fit: cover;
        object-position: top center;
    }
}

.single-entry-media--v2 .single-entry-top-wrapper {
    position: absolute;
}